{% extends "base.html" %}

{% block content %}



<form action="/signup" method="post"> 
    <h1>Create Account </h1>
    <label for="username">Enter your username:</label>
    <input type='text' name="username" id="username"/><br>
    <label for="password">Enter your password:</label>
    <input type='password' name="password" id="password"/><br>
    <label for="verify">Re-enter password:</label>
    <input type ='password' name="verify" id="verify"/>
    <input type="submit" value="Submit"/>
</form>

{% endblock %}